<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gatyatmakjyotish">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/gatyatmak_new"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:largeHeap="true"
        android:hardwareAccelerated="false"
        android:usesCleartextTraffic="true"
        >

        <activity android:name="com.gatyatmakjyotish.ui.activity.WaitingForLetter"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyAe2JrUxTmyOVrUfhlT-y7HAgxacQaZ4qE" />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@mipmap/ic_launcher_round"
                />
            <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@android:color/transparent" />

            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        </activity> <!-- <activity android:name=".ui.activity.MainActivity" -->
        <!-- android:launchMode="standard"/> -->
        <activity
            android:name="com.gatyatmakjyotish.ui.activity.MainActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gatyatmakjyotish.ui.activity.FrontScreen"
            android:screenOrientation="portrait"
            android:launchMode="standard" />
        <activity android:name="com.gatyatmakjyotish.ui.activity.SignUp"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.gatyatmakjyotish.ui.activity.DashBoard"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity android:name="com.gatyatmakjyotish.ui.activity.Language"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.fragmentBase.Blog"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.OtherServices"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.Payment"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.ForgotPassword"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.UserProfile"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.fragmentBase.Email_base"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.Set"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.Books"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.ChangeFontSize"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.ChangePassword"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.AboutUs"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.ContactUs"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.ReferEarn"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.Team"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.Marketing"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.PointstoKnow"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.SubscriptionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.OurMissionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.UseofApp"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.Cart"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.HoroscopeMatchingActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.Remedy"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.util.ImageViewer"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.NotificationActivity"
            android:screenOrientation="portrait"/>
        <activity android:name="com.gatyatmakjyotish.ui.activity.Notification"
            android:exported="true"
            android:screenOrientation="portrait"
            />
        <activity android:name="com.gatyatmakjyotish.ui.activity.CompareKundali"
            android:screenOrientation="portrait"
            />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_sEFlSto281GZCY" />

        <service
            android:name="com.gatyatmakjyotish.Services.MyFirebaseIdSevice"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name="com.gatyatmakjyotish.Services.MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <receiver
            android:name="com.gatyatmakjyotish.Services.FirebaseBroadcastReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>